{% extends 'shop/BasePage.html' %}
{% load static %}
{% block content %}
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Products</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!--- products --->
	<div class="products">
		<div class="container">
			<div class="col-md-4 products-left">
				<div class="categories">
					<h2>Categories</h2>
					<ul class="cate">
				<!--Changes naveen-->
				{% for key,value in Listofmains.items %}
					<li><a href="{% url 'SubCatergory_View' id=key.id %}"><i class="fa fa-arrow-right" aria-hidden="true"></i>{{key}}</a></li>
						<ul>
							{% for items in value %}
								<li><a href="{% url 'Products_View' id=items.id %}"><i class="fa fa-arrow-right" aria-hidden="true"></i>{{items}}</a></li>
							{% endfor %}
						</ul>
				{% endfor %}
				<!--Changes naveen-->
		
					</ul>
				</div>																																												
			</div>
			<div class="col-md-8 products-right">
				<div class="products-right-grid">
					<div class="products-right-grids">
						<div class="sorting">
						
						</div>
						
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="agile_top_brands_grids">
{% for Products in product_objects %}
<div class="col-md-4 top_brand_left">
	<div class="hover14 column">
		<div class="agile_top_brand_left_grid">
			<div class="agile_top_brand_left_grid_pos">
				{% if Products.discount_price %}
					<img src="{% static 'shop/images/offer.png' %}" alt=" " class="img-responsive">
				{% endif %}
			</div>
			<div class="agile_top_brand_left_grid1">
				<figure>
					<div class="snipcart-item block">
						<div class="snipcart-thumb">
							<a href="{% url 'DetailView' id=Products.id %}"><img title=" " alt=" " src="{{Products.image.url}}" width='150px' height='150px' ></a>
							<p><strong>{{Products.title}}</strong></p>
						{% if Products.discount_price %}
							<h4><img width='9px' src='{% static "shop/rupee.png" %}'>{{Products.discount_price}} <span><img width='9px' src='{% static "shop/rupee.png" %}'>{{Products.price}}</span></h4>
						{% else %}
							<h4><img width='9px' src='{% static "shop/rupee.png" %}'>{{Products.price}}</span></h4>
						{% endif %}
						</div>
						<div class="snipcart-details top_brand_home_details">
							<a href='{% url "DetailView" id=Products.id %}'>
								<input type="submit" name="submit" value="Quick View" class="button">
							</a>
						</div>
					</div>
				</figure>
			</div>
		</div>
	</div>
</div>
{% endfor %}
<div class="clearfix"> </div>
</div>
<!--Pagination Code-->
<nav class="numbering">
	<ul class="pagination paging">
		{% if product_objects.has_previous %}
			<li>
				<a href="?page={{ product_objects.previous_page_number }}">Previous</a>
			</li>
		{% endif %}
			<li class="active">
				<a href="?page={{ product_objects.number }}">current<span class="sr-only">(current)</span>
				</a>
			</li>
		{% if product_objects.has_next %}
			<li><a href="?page={{ product_objects.next_page_number }}">Next</a></li>
		{% endif %}
	</ul>
</nav>
<!--Pagination Code-->
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!--- products --->
{% endblock %}